#lr {
  background-color: white;
  border-radius: 0 0 2.5vw 2.5vw;
  position: relative;
  top: 0;
  left: 0;
  grid-area: album1;
}

#lrinfo {
  grid-area: frright1;
  background-color: white;
  width: 150%;
  color: #0F1626;
  text-align: right;
  padding: 2vw 2vw 2vw 2vw;
  justify-self: end;
  position: relative;
  margin-left: 7vw;
  font-size: 0.8vw;
}

#mbdtf {
  background-color: white;
  border-radius: 0 0 2.5vw 2.5vw;
  position: relative;
  top: 0;
  left: 0;
  grid-area: album2;
}

#mbdtfinfo {
  grid-area: frright2;
  background-color: white;
  width: 150%;
  color: #0F1626;
  text-align: right;
  padding: 2vw 2vw 2vw 2vw;
  justify-self: end;
  position: relative;
  margin-left: 7vw;
  font-size: 0.8vw;
}

#mbdtfdesc {
  padding-top: 1vw !important;
}

#mbdtf2 {
  background-color: white;
  border-radius: 0 0 2.5vw 2.5vw;
  position: relative;
  top: 0;
  left: 0;
  grid-area: album3;
}

#mbdtf2info {
  grid-area: frright3;
  background-color: white;
  width: 150%;
  color: #0F1626;
  text-align: right;
  padding: 2vw 2vw 2vw 2vw;
  justify-self: end;
  position: relative;
  margin-left: 7vw;
  font-size: 0.8vw;
}

#mbdtf2desc {
  padding-top: 16.8vw !important;
}

#grad {
  background-color: white;
  border-radius: 0 0 2.5vw 2.5vw;
  position: relative;
  top: 0;
  left: 0;
  grid-area: album2;
}

#gradinfo {
  grid-area: frright2;
  background-color: white;
  width: 150%;
  color: #0F1626;
  text-align: right;
  padding: 2vw 2vw 2vw 2vw;
  justify-self: end;
  position: relative;
  margin-left: 7vw;
  font-size: 0.8vw;
}

#cd {
  background-color: white;
  border-radius: 0 0 2.5vw 2.5vw;
  position: relative;
  top: 0;
  left: 0;
  grid-area: album2;
}

#cdinfo {
  grid-area: frright2;
  background-color: white;
  width: 150%;
  color: #0F1626;
  text-align: right;
  padding: 2vw 2vw 2vw 2vw;
  justify-self: end;
  position: relative;
  margin-left: 7vw;
  font-size: 0.8vw;
}

#tlop {
  background-color: white;
  border-radius: 0 0 2.5vw 2.5vw;
  position: relative;
  top: 0;
  left: 0;
  grid-area: album3;
}

#tlopinfo {
  grid-area: frright3;
  background-color: white;
  width: 150%;
  color: #0F1626;
  text-align: right;
  padding: 2vw 2vw 2vw 2vw;
  justify-self: end;
  position: relative;
  margin-left: 7vw;
  font-size: 0.8vw;
}

#yeezus {
  background-color: white;
  border-radius: 0 0 2.5vw 2.5vw;
  position: relative;
  top: 0;
  left: 0;
  grid-area: album3;
}

#yeezusinfo {
  grid-area: frright3;
  background-color: white;
  width: 150%;
  color: #0F1626;
  text-align: right;
  padding: 2vw 2vw 2vw 2vw;
  justify-self: end;
  position: relative;
  margin-left: 7vw;
  font-size: 0.8vw;
}

#tlop2 {
  background-color: white;
  border-radius: 0 0 2.5vw 2.5vw;
  position: relative;
  top: 0;
  left: 0;
  grid-area: album4;
}

#tlop2info {
  grid-area: frright4;
  background-color: white;
  width: 150%;
  color: #0F1626;
  text-align: right;
  padding: 2vw 2vw 2vw 2vw;
  justify-self: end;
  position: relative;
  margin-left: 7vw;
  font-size: 0.8vw;
}

#yeezus2 {
  background-color: white;
  border-radius: 0 0 2.5vw 2.5vw;
  position: relative;
  top: 0;
  left: 0;
  grid-area: album4;
}

#yeezus2info {
  grid-area: frright4;
  background-color: white;
  width: 150%;
  color: #0F1626;
  text-align: right;
  padding: 2vw 2vw 2vw 2vw;
  justify-self: end;
  position: relative;
  margin-left: 7vw;
  font-size: 0.8vw;
}

#grad2 {
  background-color: white;
  border-radius: 0 0 2.5vw 2.5vw;
  position: relative;
  top: 0;
  left: 0;
  grid-area: album3;
}

#grad2info {
  grid-area: frright3;
  background-color: white;
  width: 150%;
  color: #0F1626;
  text-align: right;
  padding: 2vw 2vw 2vw 2vw;
  justify-self: end;
  position: relative;
  margin-left: 7vw;
  font-size: 0.8vw;
}

#heart {
  background-color: white;
  border-radius: 0 0 2.5vw 2.5vw;
  position: relative;
  top: 0;
  left: 0;
  grid-area: album3;
}

#heartinfo {
  grid-area: frright3;
  background-color: white;
  width: 150%;
  color: #0F1626;
  text-align: right;
  padding: 2vw 2vw 2vw 2vw;
  justify-self: end;
  position: relative;
  margin-left: 7vw;
  font-size: 0.8vw;
}

#heart2 {
  background-color: white;
  border-radius: 0 0 2.5vw 2.5vw;
  position: relative;
  top: 0;
  left: 0;
  grid-area: album4;
}

#heart2info {
  grid-area: frright4;
  background-color: white;
  width: 150%;
  color: #0F1626;
  text-align: right;
  padding: 2vw 2vw 2vw 2vw;
  justify-self: end;
  position: relative;
  margin-left: 7vw;
  font-size: 0.8vw;
}




#lrfpbtn {
  opacity: 0;
  visibility: hidden;
}

#lr:hover #lrfpbtn {
  visibility: visible;
  opacity: 1;
}

#mbdtffpbtn {
  opacity: 0;
  visibility: hidden;
}

#mbdtf:hover #mbdtffpbtn {
  visibility: visible;
  opacity: 1;
}

#mbdtf2fpbtn {
  opacity: 0;
  visibility: hidden;
}

#mbdtf2:hover #mbdtf2fpbtn {
  visibility: visible;
  opacity: 1;
}

#gradfpbtn {
  opacity: 0;
  visibility: hidden;
}

#grad:hover #gradfpbtn {
  visibility: visible;
  opacity: 1;
}

#grad2fpbtn {
  opacity: 0;
  visibility: hidden;
}

#grad2:hover #grad2fpbtn {
  visibility: visible;
  opacity: 1;
}


#cdfpbtn {
  opacity: 0;
  visibility: hidden;
}

#cd:hover #cdfpbtn {
  visibility: visible;
  opacity: 1;
}

#tlopfpbtn {
  opacity: 0;
  visibility: hidden;
}

#tlop:hover #tlopfpbtn {
  visibility: visible;
  opacity: 1;
}

#yeezusfpbtn {
  opacity: 0;
  visibility: hidden;
}

#yeezus:hover #yeezusfpbtn {
  visibility: visible;
  opacity: 1;
}

#tlop2fpbtn {
  opacity: 0;
  visibility: hidden;
}

#tlop2:hover #tlop2fpbtn {
  visibility: visible;
  opacity: 1;
}

#yeezus2fpbtn {
  opacity: 0;
  visibility: hidden;
}

#yeezus2:hover #yeezus2fpbtn {
  visibility: visible;
  opacity: 1;
}

#grad2fpbtn {
  opacity: 0;
  visibility: hidden;
}

#grad2:hover #grad2fpbtn {
  visibility: visible;
  opacity: 1;
}

#heartfpbtn {
  opacity: 0;
  visibility: hidden;
}

#heart:hover #heartfpbtn {
  visibility: visible;
  opacity: 1;
}

#heart2fpbtn {
  opacity: 0;
  visibility: hidden;
}

#heart2:hover #heart2fpbtn {
  visibility: visible;
  opacity: 1;
}

/*Misc*/

#toptxt {
  grid-area: toptxt;
  align-self: center;
  margin: 2.5vw auto 1vw auto;
  font-size: 1.8vw;
}

.first {
  grid-area: btntxt;
}

.second {
  grid-area: btntxt2;
}

.third {
  grid-area: btntxt3;
}

.fourth {
  grid-area: btntxt4;
}
